
<section class="profile-header">

  <!-- Decorative background -->
  <div class="profile-decoration"></div>


  <!-- AVATAR -->
  <div class="profile-avatar">

    @if (user.avatarUrl) {

      <img
        [src]="resolveAvatarUrl()"
        [alt]="user.displayName"
      />

    } @else {

      <div class="avatar-placeholder">

        <span class="material-symbols-outlined">
          person
        </span>

      </div>

    }

  </div>


  <!-- INFORMATION -->
  <div class="profile-information">

    <h1>
      {{ user.displayName }}
    </h1>


    @if (user.username) {

      <p class="username">
        &#64;{{ user.username }}
      </p>

    }


    @if (user.bio) {

      <p class="bio">
        {{ user.bio }}
      </p>

    }


    <!-- ACTIONS -->
    <div class="profile-actions">

      <button
        type="button"
        class="edit-button"
        (click)="editProfile.emit()">

        Edit Profile

      </button>


      <button
        type="button"
        class="share-button"
        aria-label="Share profile"
        (click)="share.emit()">

        <span class="material-symbols-outlined">
          share
        </span>

      </button>

    </div>

  </div>

</section>
